{#{% extends 'layouts/base.html' %}#}
{##}
{#{% block title %} Profile {% endblock%}#}
{##}
{#{% block body %}#}
{##}
{#    <table class="table" >#}
{#        <tr> <th> ID</th> <th> Name</th> <th>category</th>#}
{#            <th>Show</th>#}
{#        </tr>#}
{#        {% for product in products %}#}
{#            <tr>#}
{#                <td> {{product['id']}}</td>#}
{#                 <td> {{product['name']}}</td>#}
{#                 <td> {{product['category']}}</td>#}
{#<!--                <td> <a href="/landing/{{student['id']}}"> Show </a></td>-->#}
{#                <td> <a  class="btn btn-info" href="{{url_for('student.profile', id=student['id'])}}">Show </a></td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#    </table>#}
{#{% endblock %}#}
